[MESSAGES CONTROL]

disable=import-error,
        missing-function-docstring,
        superfluous-parens,
        trailing-whitespace,
        too-few-public-methods,
        attribute-defined-outside-init,
        unspecified-encoding,
        logging-fstring-interpolation

[FORMAT]

max-line-length=125
