staging_project_id      = "rickbot-adk-dev"
staging_app_domain_name = ["staging.wherever.com", "rickbot-staging.wherever.com"]

cicd_runner_project_id = "rickbot-adk-prd"
prod_project_id        = "rickbot-adk-prd"
prod_app_domain_name   = ["wherever.com", "rickbot.wherever.com", "www.wherever.com"]

region                 = "europe-west4"
cb_region              = "europe-west1" # Avoid quota restrictions with deployment region

artifact_repo_name         = "rickbot-adk-gar"
service_name               = "rickbot-adk"
app_name                   = "rickbot_st_ui"
agent_name                 = "rickbot_agent"
model                      = "gemini-2.5-flash"
google_genai_use_vertexai  = false

staging_min_instances      = 0
staging_max_instances      = 1
prod_min_instances         = 1
prod_max_instances         = 1

rate_limit                 = "60"
auth_required              = "True" # Set to "False" to disable app-level auth
google_cloud_location      = "global"

my_org                     = "gcp-demos.wherever.com"
repository_name            = "rickbot-adk"
repository_owner           = "whoever"
repository_desc            = "Rickbot ADK - a multi-personality chatbot built using Google ADK and Gemini, and leveraging Agent-Starter-Pack and Gemini CLI"
host_connection_name       = "git-rickbot-adk" # Name of the host connection to create in Cloud Build.
create_cb_connection       = true
create_repository          = true
github_app_installation_id = "<gh-installation-id>" # Installation ID of the Google Cloud Build GitHub App on your repo.
github_pat_secret_id       = "<gh-pat-secret-id>" # ID of the Secret Manager secret containing GitHub Personal Access Token (PAT) for repository connection.

GOOGLE_CLIENT_ID_STAGING = "<google-client-id-staging>"
GOOGLE_CLIENT_ID_PROD    = "<google-client-id-prod>"

GITHUB_CLIENT_ID_STAGING = "<github-client-id-staging>"
GITHUB_CLIENT_ID_PROD    = "<github-client-id-prod>"  